/* Font faces */
$base-font-family: 'simplon-normal', Helvetica, Arial;
$alt-font-family: 'simplon-mono', Helvetica, Arial;

/* Descriptive variables (colors) */
$black: #000000;
$white: #ffffff;
$yellow: #fff700;
$light-grey: #dddddd;
$dark-grey: #22211f;

/* Functional variables */

// Text related
$text-color: $dark-grey;
$text-color-inverted: $white;
$striked-color: $yellow;

// Logo related
$logo-color: $white;

//Button related
$button-primary-color: $yellow;
$button-link-border: $light-grey;
$button-link-hover-color: $yellow;
$button-toggle-color: $white;
$button-toggle-color-inverted: $dark-grey;

// Background related
$navigation-background: $dark-grey;

// Misc
$badge-color: $yellow;
$hexagon-color: $yellow;

/* Layout variables */
$base-gutter-lg: 40px;
$base-gutter-md: 30px;
$base-gutter-sm: 30px;
$base-gutter-xs: 25px;
$base-gutter: 25px;

$grid-cols: 8;

$container-max-width: 1280px;

/* Break Points */
$bp-xxlg: 1680px;
$bp-xlg: 1440px;
$bp-lg: 1280px;
$bp-md: 1024px;
$bp-sm: 768px;
$bp-xs: 375px;
