.case-section {
	position: relative;
	width: 100%;
	@include viewport-unit(height, 100vh);
	overflow: hidden;

	> .case-content {
		position: absolute;
		bottom: 50px;
		z-index: 1;
		width: 100%;
	}

 	.link-text {
 		display: block;
		margin-top: 15px;
	}
}