.case-section {
	position: relative;
	width: 100%;
	@include viewport-unit(height, 100vh);
	overflow: hidden;

	> .inner {
		position: absolute;
		bottom: 50px;
		z-index: 1;
		width: 100%;
		color: $text-color-inverted;
	}
}