.container {
    margin: 0 auto;
    max-width: 100%;

    @include breakpoint(medium) {
        max-width: 960px;
    }

    @include breakpoint(large) {
        max-width: 1024px;
    }

    @include breakpoint(xlarge) {
        max-width: 1240px;
    }

    @include breakpoint(xxlarge) {
        max-width: 1440px;
    }

    @include horizontal-default-gutter(1);

    &.-fluid {
        max-width: none;
    }
}
.row {
    @include clearfix();
    @include horizontal-default-margin(-2);
}
.col {
    position: relative;
    width: 100%;
    float: left;
    @include horizontal-default-gutter(2);
    
    @for $i from 1 through $grid-cols {
        &.col-#{$i} {
            width: (100% / $grid-cols) * $i;
        }
        &.col-offset-#{$i} {
            margin-left: (100% / $grid-cols) * $i;
        }
        &.col-offset-0 {
            margin-left: 0;
        }
    }
    @include breakpoint(xsmall) {
        @for $i from 1 through $grid-cols {
            &.col-#{$i} {
                width: (100% / $grid-cols) * $i;
            }
            &.col-xs-offset-#{$i} {
                margin-left: (100% / $grid-cols) * $i;
            }
            &.col-xs-offset-0 {
                margin-left: 0;
            }
        }
    }
    @include breakpoint(small) {
        @for $i from 1 through $grid-cols {
            &.col-sm-#{$i} {
                width: (100% / $grid-cols) * $i;
            }
            &.col-sm-offset-#{$i} {
                margin-left: (100% / $grid-cols) * $i;
            }
            &.col-sm-offset-0 {
                margin-left: 0;
            }
        }
    }
    @include breakpoint(medium) {
        @for $i from 1 through $grid-cols {
            &.col-md-#{$i} {
                width: (100% / $grid-cols) * $i;
            }
            &.col-md-offset-#{$i} {
                margin-left: (100% / $grid-cols) * $i;
            }
            &.col-md-offset-0 {
                margin-left: 0;
            }
        }
    }

    &.-center {
        margin: 0 auto;
        float: none;
    }
}