.menu-top-content {
	> .left {
		display: inline-block;
		vertical-align: middle;
		width: 110px;
	}

	> .right {
		display: inline-block;
		vertical-align: middle;
		width: calc(100% - 110px);
		text-align: right;
	}
}