.menu-overlay-content {
	> .left {
		display: none;
		vertical-align: top;
		width: calc(50% - 50px); // -50px because right has margin-left 100px
		text-align: right;
		font-size: rem(24);
		color: $text-color-inverted;
		opacity: 0.2;

		@include breakpoint(small) {
			display: inline-block;
		}
	}

	> .right {
		display: inline-block;
		position: relative;
		left: 50%;
		transform: translateX(-50%);

		@include breakpoint(small) {
			left: auto;
			margin-left: 100px;
			width: calc(50% - 50px); // -50px because margin-left 100px
			transform: none;
		}
	}
}