.button-rectangle {
	&.-primary {
		border: 2px solid $button-primary-color;
		text-transform: uppercase;
		color: $white;
		font-weight: 700;

		&:hover {
			background-color: $button-primary-color;
			color: $black;
		}
	}
}