.link-text {
	position: relative;
	text-decoration: none;

	// Size variants
	&.-xsmall {
		font-size: rem(12);
	}

	&.-small {
		font-size: rem(14);
	}

	&.-medium {
		font-size: rem(18);

		@include breakpoint(small) {
			font-size: rem(24);
		}
	}

	&.-large {
		font-size: rem(25);
		
		@include breakpoint(small) {
			font-size: rem(50);
		}
	}

	// Color variants
	&.-white {
		color: $text-color-inverted;
	}

	&.-grey {
		color: $text-color;
	}
}