.link-text {
	position: relative;
	color: $text-color-inverted;
	text-decoration: none;

	&.-small {
		font-size: rem(14);
	}

	&.-medium {
		font-size: rem(18);

		@include breakpoint(small) {
			font-size: rem(24);
		}

	}

	&.-large {
		font-size: rem(25);
		
		@include breakpoint(small) {
			font-size: rem(50);
		}
	}
}