.menu-button {
	display: inline-block;
	position: relative;
	margin-right: -20px;
	padding: 20px;
    cursor: pointer;
    transition-timing-function: linear;
    transition-duration: .15s;
    transition-property: opacity, filter;

    &.-active > .top {
    	margin-top: 0;
    	transform: rotate(45deg);
    }

    &.-active > .bottom {
    	margin-top: 0;
		transform: rotate(-45deg);
	}

	> .top, > .bottom {
		display: block;
  		position: absolute;
  		top: 50%;
  		left: 50%;
  		width: 14px;
  		height: 2px;
  		background-color: $button-navigation-color;
		transition-timing-function: ease;
	    transition-duration: .15s;
	    transition-property: transform;
	}

  	> .top {
  		margin-top: -4px;
  		margin-left: -7px;
  	}

  	> .bottom {
		margin-top: 2px;
  		margin-left: -7px;
  	}
}