@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

/* Set horizontal padding using global gutter variables, pass divider as parameter (default is 1) */
@mixin horizontal-default-gutter($divider: 1) {
    padding-left: $base-gutter / $divider;
    padding-right: $base-gutter / $divider;

    @include breakpoint(xsmall) {
        padding-left: $base-gutter-xs / $divider;
        padding-right: $base-gutter-xs / $divider;
    }

    @include breakpoint(small) {
        padding-left: $base-gutter-sm / $divider;
        padding-right: $base-gutter-sm / $divider;
    }

    @include breakpoint(medium) {
        padding-left: $base-gutter-md / $divider;
        padding-right: $base-gutter-md / $divider;
    }

    @include breakpoint(large) {
        padding-left: $base-gutter-lg / $divider;
        padding-right: $base-gutter-lg / $divider;   
    }
}

@mixin horizontal-default-margin($divider: 1) {
    margin-left: $base-gutter / $divider;
    margin-right: $base-gutter / $divider;
    
    @include breakpoint(xsmall) {
        margin-left: $base-gutter-xs / $divider;
        margin-right: $base-gutter-xs / $divider;
    }
    
    @include breakpoint(small) {
        margin-left: $base-gutter-sm / $divider;
        margin-right: $base-gutter-sm / $divider;
    }

    @include breakpoint(medium) {
        margin-left: $base-gutter-md / $divider;
        margin-right: $base-gutter-md / $divider;
    }

    @include breakpoint(large) {
        margin-left: $base-gutter-lg / $divider;
        margin-right: $base-gutter-lg / $divider;
    }

}
