.o-container {
    margin: 0 auto;
    max-width: 100%;

    @include breakpoint(small) {
        max-width: 640px;
    }

    @include breakpoint(medium) {
        max-width: 960px;
    }

    @include breakpoint(large) {
        max-width: 1024px;
    }

    @include breakpoint(xlarge) {
        max-width: 1240px;
    }

    @include breakpoint(xxlarge) {
        max-width: 1440px;
    }

    @include horizontal-default-gutter(1);

    &-fluid {
        max-width: none;
    }
}
.o-row {
    @include clearfix();
    @include horizontal-default-margin(-2);
}
.o-col {
    position: relative;
    width: 100%;
    float: left;
    @include horizontal-default-gutter(2);
    
    @for $i from 1 through $grid-cols {
        &.-#{$i} {
            width: (100% / $grid-cols) * $i;
        }
        &.-offset-#{$i} {
            margin-left: (100% / $grid-cols) * $i;
        }
        &.-offset-0 {
            margin-left: 0;
        }
    }
    @include breakpoint(xsmall) {
        @for $i from 1 through $grid-cols {
            &.-#{$i} {
                width: (100% / $grid-cols) * $i;
            }
            &.-xs-offset-#{$i} {
                margin-left: (100% / $grid-cols) * $i;
            }
            &.-xs-offset-0 {
                margin-left: 0;
            }
        }
    }
    @include breakpoint(small) {
        @for $i from 1 through $grid-cols {
            &.-sm-#{$i} {
                width: (100% / $grid-cols) * $i;
            }
            &.-sm-offset-#{$i} {
                margin-left: (100% / $grid-cols) * $i;
            }
            &.-sm-offset-0 {
                margin-left: 0;
            }
        }
    }
    @include breakpoint(medium) {
        @for $i from 1 through $grid-cols {
            &.-md-#{$i} {
                width: (100% / $grid-cols) * $i;
            }
            &.-md-offset-#{$i} {
                margin-left: (100% / $grid-cols) * $i;
            }
            &.-md-offset-0 {
                margin-left: 0;
            }
        }
    }

    &.-center {
        margin: 0 auto;
        float: none;
    }
}